Body{
	padding-left: 200px;
	padding-right: 200px;
}

.navbar-nav {
  align-items: flex-end;
}

*nav.navbar {
  justify-content: flex-end;
}

.dropdown.show,
.dropdown-menu.show {
  text-align: right;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  .dropdown-menu.show {
    left: -8rem;
  }
}

img{
	max-width: 100%;
}

video{
	max-width: 100%;
}